<app-header></app-header>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">About Page</h1>
        <div class="list-group">
          <a href="#" class="list-group-item active">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
             
        <div class="container-fluid">
          <div style="color: blue;">
            <h1>{{title}}</h1>
            <h3>{{description}}</h3>
          </div>
        
          <div style="width: 90%;">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="item">Item</label> <input type="text"
                  class="form-control" placeholder="Enter content..." id="item"
                  required [(ngModel)]="itemValue" name="item">
              </div>
        
              <div class="btn-group">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        
          <h2>Content from Firebase</h2>
          <div class="col-md-12">
            <ul *ngFor="let item of items | async"><li>{{item.content}}</li></ul>
          </div>
        </div>

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
  <app-footer></app-footer>