<div>
  <div fxLayout="column">
    <mat-card class="default">
      <mat-card-header>
        <mat-card-title>New User</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mb-0 px-1">
        
        <form ngClass.gt-xs="px-1" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit(userForm.value)">
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-md="100" ngClass.gt-md="pr-1">
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Email" type="email" name='email' formControlName="email" required>
                  <mat-error *ngFor="let validation of create_validation_messages.email">
                  <mat-error *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="username" type="text" name='username' formControlName="username">
                  
                  <mat-error *ngFor="let validation of create_validation_messages.username">
                  <mat-error  *ngIf="userForm.get('username').hasError(validation.type) && (userForm.get('username').dirty || userForm.get('username').touched)">
                    {{validation.message}}</mat-error>
                </mat-error>
                </mat-form-field>
              </div>
 
              <div formGroupName="matching_passwords">
                <mat-form-field  fxFlex="100">
                  <input matInput type="password" placeholder="Password" formControlName="password" required>
                  <mat-error *ngFor="let validation of create_validation_messages.password">
                    <mat-error class="error-message" *ngIf="userForm.get('matching_passwords').get('password').hasError(validation.type) && (userForm.get('matching_passwords').get('password').dirty || userForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
                <mat-form-field  fxFlex="100">
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
                  <mat-error *ngFor="let validation of create_validation_messages.confirm_password">
                    <mat-error class="error-message" *ngIf="(userForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| userForm.get('matching_passwords').hasError(validation.type)) && (userForm.get('matching_passwords').get('confirm_password').dirty || userForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="firstName" type="text" name='firstName' formControlName="firstName">
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="lastName" type="text" name='lastName' formControlName="lastName">
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>
              <div>
                  <mat-card-actions align="end">
                      <button mat-raised-button color="accent" type="submit"  class="btn btn-primary" [disabled]="!userForm.valid">Create User</button>
                      <button mat-raised-button color="primary" [routerLink]="['/admin/users']">Back to Users List</button>
                  </mat-card-actions>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
 