<h1 class="text-center">Sign Up</h1>
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">
      <div class="card border-info text-center">
        <div class="card-header">
          CREATE AN ACCOUNT
        </div>
        <div class="card-body">
          <img src="https://placeimg.com/128/128/tech/sepia">
          <h4 class="text-center">Janus & Nic Ltd</h4>
          <form class="form-signin" id="#f" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <input type="email" class="form-control mb-2" placeholder="Email" required autofocus formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" appEmailValidator>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
            <input type="text" matInput placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            <div formGroupName="matching_passwords">
              <input type="password" placeholder="Password" formControlName="password" required class="form-control mb-2">
              <div
                  class="input-errors"
                  *ngFor="let validation of create_validation_messages.password"
                >
                <div class="input-errors" *ngIf="registerForm.get('matching_passwords').get('password').hasError(validation.type) && (registerForm.get('matching_passwords').get('password').dirty || registerForm.get('matching_passwords').get('password').touched)">{{validation.message}}</div>
              </div>
              
              
              <input class="form-control mb-2" type="password" placeholder="Confirm Password" formControlName="confirm_password"   required>
                <div *ngFor="let validation of create_validation_messages.confirm_password">
                  <div class="error-message" *ngIf="(registerForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| registerForm.get('matching_passwords').hasError(validation.type)) && (registerForm.get('matching_passwords').get('confirm_password').dirty || registerForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</div>
                </div>
            </div>

           

            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Create an account</button>
            <label class="checkbox float-left">
              <input type="checkbox" value="accept">
              I read and accept
            </label>
            <a href="#" class="float-right">Need help?</a>
          </form>
        </div>
      </div>
      Already have an account? <a routerlink="/auth/login" ng-reflect-router-link="/auth/login" href="/auth/login" class='float-right'> Sign in </a>
    </div>
  </div>
</div>
