<div class="mat-bg--primary--400" [style.min-height] = "'100vh'" fxFlex="100" fxLayoutAlign="center center">
  <div fxFlex="100" [style.max-width]="'400px'">
    <mat-card>
      <div class="py-1" ngClass.gt-xs="p-1">
        <div class="logo text-center">
          <img src="assets/images/card-avatar.png">
          <div class="mat-h2 mt-5">CREATE AN ACCOUNT</div>
        </div>
        <div class="mt-1">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
              <mat-form-field fxFlex="100">
                  <input type="text" matInput placeholder="First Name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <mat-error>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                  </mat-error>
                  
              </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex="100">
                    <input type="text" matInput placeholder="Last Name" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex="100">
                    <input type="text" matInput placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </mat-form-field>
            </div>        
            <div>
              <mat-form-field fxFlex="100">
                <input type="text" matInput placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100">
                <input type="password" matInput placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Confirm Password">
              </mat-form-field>
            </div>
          </form>
          <div fxLayoutAlign="start center" fxLayoutGap=".19em">
            <mat-checkbox mat-body-1>I read and accept</mat-checkbox>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="my-1" fxLayoutGap="1rem">
            <button mat-raised-button color="accent" class="my-1" [style.width]="'220px'">CREATE AN ACCOUNT</button>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="mt-1" fxLayoutGap=".5rem">
            <div class="mat-body-2 mb-0">Already have an account?</div>
            <a routerLink="/admin/login" class="mat-body-1 link">Login</a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
